// sourceMap: true, compileCompressed: ../css/style.min.css

@import "mixins";
@import "variables";
@import "fonts";
@import "default";
@import "media";

.wrapper{
  background: $color-white;
  position: relative;
  z-index: 10;
}

.leftbox{
  @include center-gradient($color-dark,90deg);
  color: $color-white;
}

.sliderBg{
  position: absolute;
  display: none;
  z-index: -2;
  top: 80px;
  height: 570px;
  left: 0;
  width: 100%;
  background: url('/images/slide_bgr.jpg');
  background-size: cover;
}

.header{
  height: 80px;
}

.services{
  .item{
    background: $color-white;
  }
}


.actionbox{
  background: $color-blue;
  position: relative;
  &:before{
    content: '';
    display: block;
    position: absolute;
    background: $color-red;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
  }
}


// -----------------------------------------------

header {
  .header.wrapper{
    background: #fff;
  }

  .logo{
    width: 200px;
    height: 130px;
    margin: 20px auto;
    img{
      width: 100%;
    }
  }

  .address{
    margin: 15px 0 0;
    font-family: $font-title;
    font-size: 1.125em;
    font-weight: bold;
    a{
      font-size: 0.777em;
    }
  }
  .phone{
    text-align: right;
    font-family: $font-title;
    font-weight: bold;
    font-size: (44px / $font-size-base) * 1em;
    margin: 10px 0 0px;
  }
  .email{
    text-align: right;
    font-family: $font-title;
    font-weight: bold;
    font-size: (18px / $font-size-base) * 1em;
  }

  .sliderContent{
    height: 570px;
    img{
      position: absolute;
      height: 100%;
      left: 0;
      z-index: 1;
    }
    &:before{
      content: '';
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 2;
      @include gradient(#fff, rgba(255,255,255,0),horizontal);
    }
  }

  .titlebox{
    margin: 120px 0 0;
    z-index: 3;
    position: relative;
    .company{
      font-family: $font-title;
      font-weight: bold;
      font-size: (40px / $font-size-base) * 1em;
    }
    h1{
      margin: 20px 0 40px;
      font-weight: bold;
      color: $color-red;
      text-transform: uppercase;
      text-shadow: 1px 1px 7px rgba(208, 117, 91, 0.4);
    }
    .slogan{
      margin: 0 0 40px;
      font-size: (40px / $font-size-base) * 1em;
      line-height: 0.8em;
    }
    button{
      padding: 6px 30px 12px;
      color: $color-red;
      background: none;
      border: 2px solid $color-red;
      font-size: (30px / $font-size-base) * 1em;
      &:hover{
        background:  $color-red;;
        color: #fff;
      }
    }
  }
}
